<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Проекты пользователя</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Логотип</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="#services">Услуги</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">О нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Контакты</a></li>

      </ul>
    </div>
  </div>
</nav>
<body>
<div class="container mt-5">
  <h1>Ваши проекты</h1>
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>API-ключ</th>
      <th>Тип токена</th>
      <th>Детали</th> <!-- Ссылка на детали проекта -->
      <th>Удалить</th> <!-- Новый заголовок для кнопки удаления -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
      <td th:text="${project.title}"></td>
      <td th:text="${project.description}"></td>
      <td th:text="${project.apiKey}"></td>
      <td th:text="${project.tokenType}"></td>
      <td>
        <a th:href="@{/projects/{apiKey}(apiKey=${project.apiKey})}" class="btn btn-info">
          Смотреть
        </a>
      </td>
      <td>
        <form th:action="@{/projects/delete/{id}(id=${project.id})}" method="post">
          <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить проект?');">
            Удалить
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
<!--  <table class="table table-bordered">-->
<!--    <thead class="thead-light">-->
<!--    <tr>-->
<!--      <th>Название</th>-->
<!--      <th>Описание</th>-->
<!--      <th>API-ключ</th>-->
<!--      <th>Тип токена</th>-->
<!--      <th>Детали</th> &lt;!&ndash; Новый заголовок для ссылки на детали проекта &ndash;&gt;-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="project : ${projects}">-->
<!--      <td th:text="${project.title}"></td>-->
<!--      <td th:text="${project.description}"></td>-->
<!--      <td th:text="${project.apiKey}"></td>-->
<!--      <td th:text="${project.tokenType}"></td>-->
<!--      <td>-->
<!--        <a th:href="@{/projects/{apiKey}(apiKey=${project.apiKey})}" class="btn btn-info">-->
<!--          Смотреть-->
<!--        </a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</div>

<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>