<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Card</title>
</head>
<body>
<h1>Create Card</h1>

<div th:if="${message}" style="color: green;">[[${message}]]</div>
<div th:if="${error}" style="color: red;">[[${error}]]</div>

<form action="#" th:action="@{/cards}" method="post">
    <label for="cardType">Тип карты:</label>
    <select id="cardType" name="cardType">
        <option th:each="type : ${cardTypes}" th:value="${type}" th:text="${type}"></option>
    </select>
    <!-- Другие поля формы -->
    <button type="submit">Создать карту</button>
</form>


<!--<h1>Create Card</h1>-->

<!--<div th:if="${message}" style="color: green;">[[${message}]]</div>-->
<!--<div th:if="${error}" style="color: red;">[[${error}]]</div>-->

<!--<form action="#" th:action="@{/cards}" method="post">-->
<!--    <label>Тип карты:</label>-->
<!--    <div th:each="type : ${cardTypes}">-->
<!--        <input type="checkbox" th:id="${type}" th:name="cardType" th:value="${type}" />-->
<!--        <label th:for="${type}" th:text="${type}"></label>-->
<!--    </div>-->

<!--    &lt;!&ndash; Другие поля формы &ndash;&gt;-->
<!--    <button type="submit">Создать карту</button>-->
<!--</form>-->

</body>
</html>