<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пополнение карты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .pic {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .pic img {
            max-width: 70%;
            height: auto;
            border-radius: 8px; /* Закругленные углы для изображения */
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Пополнение карты</h2>

    <!-- Блок для сообщения -->
    <div th:if="${message}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>

    <form action="/replenish" method="post">
        <div class="form-group">
            <label for="cardNumber">Номер карты</label>
            <input type="text" class="form-control" id="cardNumber" name="cardNumber" required>
        </div>
        <div class="form-group">
            <label for="amount">Сумма</label>
            <input type="number" class="form-control" id="amount" name="amount" required>
        </div>
        <button type="submit" class="btn btn-primary">Пополнить</button>
    </form>

    <!-- Централизованное изображение -->
    <div class="pic">
        <img src="/pexels-karolina-grabowska-4386370.jpg" alt="pic">
    </div>
</div>
</body>
</html>